html, body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow-x: hidden !important;
}
#hero-canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.hero-ct {
  position: relative;
  height: 100vh;
}
.hero-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  transition: all 1.5s;
  pointer-events: none;
}
.hero-loader__txt {
  clip-path: url(#clipping);
  width: 69px;
  height: 125px;
  position: relative;
}
.hero-loader__txt span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #000;
}
.hero-loader.end {
  opacity: 0;
  pointer-events: none;
}
.hero-loader-clip {
  position: absolute;
  opacity: 0;
}
.hero-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  opacity: 0;
}
.hero-enter {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33vw;
  height: 58vh;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  text-decoration: none;
  flex-direction: column;
}
.hero-enter .intro-image {
  margin-top: 1rem;
}
.hero-artifact {
  position: absolute;
  width: 120rem;
  height: 120rem;
}
.hero-artifact--circle {
  top: 34vh;
  left: 60vw;
}
@media (min-height: 800px) {
  .hero-artifact--circle {
    top: 36vh;
  }
}
@media (min-width: 768px) {
  .hero-artifact--circle {
    left: 51vw;
  }
}
@media (min-width: 1300px) {
  .hero-artifact--circle {
    left: 52vw;
  }
}
@media (min-width: 1600px) {
  .hero-artifact--circle {
    left: 53vw;
  }
}
.hero-artifact--cone {
  top: 52vh;
  left: 59vw;
}
@media (min-width: 1300px) {
  .hero-artifact--cone {
    left: 60vw;
  }
}
@media (min-width: 1600px) {
  .hero-artifact--cone {
    left: 59vw;
  }
}
.hero-artifact--halfcircle {
  top: 48vh;
  left: 19vw;
}
@media (min-width: 768px) {
  .hero-artifact--halfcircle {
    left: 38vw;
  }
}
@media (min-width: 1300px) {
  .hero-artifact--halfcircle {
    left: 38.5vw;
  }
}
@media (min-width: 1600px) {
  .hero-artifact--halfcircle {
    left: 43vw;
  }
}
.hero-artifact--donut {
  top: 62vh;
  left: 47.5vw;
}
@media (min-width: 1300px) {
  .hero-artifact--donut {
    left: 48vw;
  }
}
@media (min-width: 1300px) {
  .hero-artifact--donut {
    left: 48vw;
  }
}
@media (min-width: 1600px) {
  .hero-artifact--donut {
    left: 50vw;
  }
}
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  visibility: hidden;
}
.w-image {
  opacity: 0;
}
.content {
  padding: 5rem;
}
.hero-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fff;
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
}
.hero-bottom__text {
  max-width: 300px;
}
.col-2 {
  padding-left: 4rem;
}

