html,body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow-x: hidden !important;
}


//HERO
#hero-canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.hero {
  &-ct {
    position: relative;
    height: 100vh;
  }
  &-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    transition: all 1.5s;
    pointer-events: none;

    &__txt {
      clip-path: url(#clipping);
      width: 69px;
      height:125px;
      position: relative;
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #000;
      }
    }
    &.end {
      opacity: 0;
      pointer-events: none;
    }
  }
  &-loader-clip {
    position: absolute;
    opacity: 0;
  }
  &-logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    opacity: 0;
  }
  &-enter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .25rem;
    text-decoration: none;
  }
  &-artifact {
    position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    &--circle {
      top: 34vh;
      left: 60vw;
      @media (min-height: 800px) {
        top: 36vh;
      }
      @media (min-width: 768px) {
        left: 51vw;
      }
      @media (min-width: 1300px) {
        left: 52vw;
      }
      @media (min-width: 1600px) {
        left: 53vw;
      }
    }
    &--cone {
      top: 52vh;
      left: 59vw;
      @media (min-width: 1300px) {
        left: 60vw;
      }
      @media (min-width: 1600px) {
        left: 59vw;
      }
    }

    &--halfcircle {
      top: 48vh;
      left: 19vw;
      @media (min-width: 768px) {
        left: 38vw;
      }
      @media (min-width: 1300px) {
        left: 38.5vw;
      }
      @media (min-width: 1600px) {
        left: 43vw;
      }
    }
    &--donut {

      top: 62vh;
      left: 47.5vw;
      @media (min-width: 1300px) {
        left: 48vw;
      }
      @media (min-width: 1300px) {
        left: 48vw;
      }
      @media (min-width: 1600px) {
        left: 50vw;
      }
    }
  }
  &-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    visibility: hidden;
  }
}

.w-image {
  opacity: 0;
}

//DEMO CONTENT
.content {
  padding: 5rem;
}
